.wrapper {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

button {
    width: 295px;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    background-image: url("./../images/money-seamless-pattern-background-vector-finance-illustration_53876-140178.webp");
}